extends layout

block content
  style.
    p { font-family: sans-serif; }
  p Hi #{transaction.user.firstName},
  p Thank you for using the #{transaction.company.name} shop.
  p Below are the details of your purchase on #{moment(transaction.createdAt).format('ddd, Do MMM YYYY')}.
  table(style='border-width: 0; width: 100%; max-width: 480px')
    tr
      td(style='padding: 6px; border: solid 1px gray;')
        strong Item
      td(style='padding: 6px; border: solid 1px gray;')
        strong Cost
    tr
      td(style='padding: 6px; border: solid 1px gray;')=transaction.data.item.name
      td(style='padding: 6px; border: solid 1px gray;') #{transaction.data.item.price} KudosCoins
    
  p Thanks,
    br
    | KudosHealth
    br
    a(href=frontendUrl)=frontendUrl
